{% extends 'base.html'%}

 {% block title %} | Home | {% endblock%}
{% block content %}
{% load static %}
 {% load humanize %}
<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/lawpic1.png' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>We Provide Quality <br>Legal Services</h3>
                    <h5>Our goal is not just to meet your expectations but to exceed them.<br>
                        A lawyer has a duty to give his client the best possible advice <br>without regard for his own financial circumstances.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/lawpic2.png' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Real Estate Transactional Law</h3>
                    <h5> we provide expert legal counsel and support for all your real estate needs. <br>
                       Whether you're a first-time homebuyer, a seasoned investor, <br>
                        or a business looking to secure your next commercial property,<br> our team of seasoned attorneys is here to ensure<br> your real estate journey is smooth and successful..</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/lawpic4.png' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Your Real Estate Journey <br>Starts Here</h3>
                    <h5> We're committed to your success, and we understand that each real <br> estate transaction is a unique endeavor. <br>
                        With us, you can rest assured that you have a dedicated legal team at your side, <br>ready to provide expert guidance, protect your interests, <br>and ensure that your real estate journey is a rewarding one.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
        </div>
        <!-- Search box 3 start -->
        <div class="search-box-4 sb-8">

            <form action="{% url 'search' %}" method="">
                <div class="form-group">
                    <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="dealtype">
                        <option selected="true" disabled="disabled">Deal Type</option>
                        {% for type in deal_types %}
                        <option value="{{type}}" >{{type}}</option>
                        {% endfor%}

                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="city">
                        <option selected="true" disabled="disabled">City</option>
                        {% for city in cities %}
                        <option >{{city}}</option>
                         {% endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="province">
                        <option selected="true" disabled="disabled">Province</option>
                        {% for province in provinces %}
                        <option >{{province}}</option>
                         {% endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="price">
                         <option selected="true" disabled="disabled">Year</option>
                        {% for deal in deals%}
                         <option >{{deal}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="select-type">
                        <option selected="true" disabled="disabled">Select Type Of Car</option>
                        <option>Sedan</option>
                        <option>Sports</option>
                        <option>Hatchback</option>
                        <option>Pickup Truck</option>
                        <option>SUV</option>
                    </select>
                </div>
                <div class="range-slider clearfix">
                                <label>Price</label>
                                <div data-min="0"  data-max="1550000"  data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                <div class="form-group">
                    <button class="btn btn-block button-theme btn-md">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </form>

        </div>
        <!-- Search box 3 end -->
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Closing Deals for <span>TODAY</span></h1>
            <p>Keep track of your today's closing~</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix" >
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for closing in closings %}
                <div class="slick-slide-item" >
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="{% url 'deal_detail' closing.deal_id %}" class="car-img">
                                <div class="tag-2">{{closing.deal_type}}</div>
                                <div class="price-box">
                                    <span>Closing Date:{{closing.closing_date | date:"Y-m-d"}} </span>
                                </div>
                                <img class="d-block w-100" src="{{closing.client_photo1.url}}" alt="car" style="min-height:250px; max-height:250px">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
<!--                                            <a href="img/car/car-1.jpg" class="overlap-btn">-->
<!--                                                <i class="fa fa-expand"></i>-->
<!--                                                <img class="hidden" src="{{closing.client_name}}" alt="car" >-->
<!--                                            </a>-->
<!--                                            <a href="img/car/car-2.jpg" class="hidden">-->
<!--                                                <img class="hidden" src="img/car/car-2.jpg">-->
<!--                                            </a>-->
<!--                                            <a href="img/car/car-3.jpg" class="hidden">-->
<!--                                                <img class="hidden" src="img/car/car-3.jpg">-->
<!--                                            </a>-->
<!--                                            <a href="img/car/car-4.jpg" class="hidden">-->
<!--                                                <img class="hidden" src="img/car/car-4.jpg">-->
<!--                                            </a>-->
<!--                                            <a href="img/car/car-5.jpg" class="hidden">-->
<!--                                                <img class="hidden" src="img/car/car-5.jpg">-->
<!--                                            </a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'deal_detail' closing.deal_id %}">{{closing.client_name}}</a>
                            </h1>
                            <div class="location" >
                                <a href="{% url 'deal_detail' closing.deal_id %}">
                                    <i class="flaticon-pin"></i>
                                     {% if closing.unit_number %}
                                        {{closing.unit_number}}-{{closing.street_number}},{{closing.street_name}} {{closing.street_suffix}},{{closing.city}},{{closing.province}}
                                     {% else %}
                                        {{closing.street_number}},{{closing.street_name}} {{closing.street_suffix}},{{closing.city}},{{closing.province}}
                                    {% endif%}
                                </a>
                            </div >
                            <ul class="facilities-list clearfix">
                                <li>
                                    {% if closing.status == 'deal_completed'  %}
                                        Congratulations!! Closing has been completed!!
                                    {% else %}
                                        Closing is in progress...
                                    {% endif %}
                                </li>
                                <br>
                                <li >current status: {{ closing.status }}</li>

                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1> Deals  <span>for the next one week</span></h1>
            <p>Following up with deals every 7 business days in advance</p>
        </div>
        <div class="row">
            {% for next_week in two_weeks_closings %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'deal_detail' next_week.deal_id %}" class="car-img">
                            <div class="tag">{{next_week.deal_type}}</div>
                            <img class="d-block w-100" src="{{next_week.client_photo1.url}}" alt="car" style="min-height:250px; max-height:250px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                       <span><i class="flaticon-calendar-1"></i></span>Closing Date :
                                    </li>
                                    <li>
                                         {{next_week.closing_date| date:"Y-m-d"}}
                                    </li>
<!--                                    <li>-->
<!--                                        <span><i class="flaticon-manual-transmission"></i></span>{{next_week.deal_type}}-->
<!--                                    </li>-->
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{next_week.client_photo1.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{next_week.client_photo1.url}}">
                                        </a>
                                        {% if closings.client_photo2%}
                                        <a href="{{next_week.client_photo2.url}}" class="hidden">
                                            <img class="hidden" src="{{next_week.client_photo2.url}}">
                                        </a>
                                        {%endif%}
                                         {% if next_week.client_photo3%}
                                        <a href="{{closings.client_photo3.url}}" class="hidden">
                                            <img class="hidden" src="{{closings.client_photo3.url}}">
                                        </a>
                                        {%endif%}
                                         {% if next_week.client_photo4%}
                                        <a href="{{closings.client_photo4.url}}" class="hidden">
                                            <img class="hidden" src="{{closings.client_photo4.url}}">
                                        </a>
                                        {%endif%}
                                         {% if next_week.client_photo5%}
                                        <a href="{{next_week.client_photo5.url}}" class="hidden">
                                            <img class="hidden" src="{{next_week.client_photo5.url}}">
                                        </a>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'deal_detail' next_week.deal_id %}">{{next_week.client_name}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'deal_detail' next_week.deal_id %}">
                                <i class="flaticon-pin"></i>
                                {% if next_week.unit_number %}
                                   {{next_week.unit_number}}-{{next_week.street_number}},{{next_week.street_name}} {{next_week.street_suffix}},{{next_week.city}},{{next_week.province}}
                                {% else %}
                                 {{next_week.street_number}},{{next_week.street_name}} {{next_week.street_suffix}},{{next_week.city}},{{next_week.province}}
                                {% endif%}
                            </a>
                        </div>
                        <div class="location">
                            <a href="{% url 'deal_detail' next_week.deal_id %}">
                               <i class="fa-solid fa-bullhorn"></i>  {{next_week.status}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">PRICE</p>
                        </div>
                        <div class="pull-right">
                            <p class="price">${{next_week.price|intcomma}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor%}

        </div>
    </div>
</div>
<!-- Rent car end -->


<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for team in teams %}
                    <div class="slick-slide-item">
                        <div class="team-1">
                            <div class="photo">
                                <a href="#">
                                    </center><img src="{{team.photo.url}}" alt="team-1" class="img-fluid" style="width:180px; height:250px;">
                                </a>
                                <div class="social-list clearfix">
                                    <a href="{{team.facebook_link}}" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                    <a href="{{team.twitter_link}}" target="_blank" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                    <a href="{{team.google_plus_link}}" target="_blank" class="google-bg"><i class="fa fa-google"></i></a>
                                </div>
                            </div>
                            <div class="details">
                                <h4><a href="team-detail.html">{{ team.first_name}} {{ team.last_name}}</a></h4>
                                <h5>{{team.designation}}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor%}
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{% url 'contact'%}" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->

<!-- Footer start -->

<!-- Footer end -->

<!-- Full Page Search -->


<!-- Car Overview Modal -->
<div class="car-model-2">
    <div class="modal fade" id="carOverviewModal" tabindex="-1" role="dialog" aria-labelledby="carOverviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="carOverviewModalLabel">
                        <h4>Explore Your Dream Car</h4>
                        <h5><i class="fa-solid fa-money-bill-1-wave"></i> 123 Kathal St. Tampa City,</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row modal-raw">
                        <div class="col-lg-6 modal-left">
                            <div class="item active">
                                <img src="img/car-13.jpg" alt="best-car" class="img-fluid modalLabel-1">
                                <img src="img/car-14.jpg" alt="best-car" class="img-fluid modalLabel-2">
                                <div class="sobuz">
                                    <div class="price-box" style="padding-bottom: 5px;">
                                        <span class="del-2">$1050.00</span>
                                    </div>
                                    <div class="">
                                        <a href="car-details.html" class="btn btn-md btn-round btn-theme">Convertible</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 modal-right">
                            <div class="modal-right-content">
                                <section>
                                    <h3>Features</h3>
                                    <div class="features">
                                        <ul class="bullets">
                                            <li>Cruise Control</li>
                                            <li>Airbags</li>
                                            <li>Air Conditioning</li>
                                            <li>Alarm System</li>
                                            <li>Audio Interface</li>
                                            <li>CDR Audio</li>
                                            <li>Seat Heating</li>
                                            <li>ParkAssist</li>
                                        </ul>
                                    </div>
                                </section>
                                <section>
                                    <h3>Overview</h3>
                                    <ul class="bullets">
                                        <li>Model</li>
                                        <li>Year</li>
                                        <li>Condition</li>
                                        <li>Price</li>
                                        <li>Audi</li>
                                        <li>2020</li>
                                        <li>Brand New</li>
                                        <li>$178,000</li>
                                    </ul>
                                </section>
                                <div class="description">
                                    <h3>Description</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                                    <a href="car-details.html" class="btn btn-md btn-round btn-theme">Show Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}