{% extends 'base.html'%}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Car Inventory</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home'%}">Home</a></li>
                <li class="active">Cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">

                <div class="row">


                    {% for all_deal in all_deals %}
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag">For Sale</div>
                                    <div class="price-box">
                                        <span>$780.00</span>
                                    </div>
                                    <img class="d-block w-100" src="{{all_deal.client_photo1.url}}" alt="car" style="mid-height:250px; max-height:250px;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="img/car/car-4.jpg" class="overlap-btn" >
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="img/car/car-4.jpg" >
                                                </a>
                                                <a href="img/car/car-2.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-2.jpg" >
                                                </a>
                                                <a href="img/car/car-3.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-3.jpg" >
                                                </a>
                                                <a href="img/car/car-1.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-1.jpg" >
                                                </a>
                                                <a href="img/car/car-5.jpg" class="hidden" >
                                                    <img class="hidden" src="img/car/car-5.jpg" >
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'deal_detail' all_deal.file_number%}">{{ all_deal.client_name}}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'deal_detail' all_deal.file_number%}">
                                        <i class="flaticon-pin"></i>{{ all_deal.street_number}}
                                        {{ all_deal.street_name}} {{ all_deal.city}}
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>{{ all_deal.street_number}}</li>
                                    <li>${{ all_deal.price}}</li>
                                    <li>email: {{ all_deal.email}}</li>
                                    <li>phone: {{ all_deal.phone}}</li>
                                    <li>{{ all_deal.province}}</li>
                                    <li>{{ all_deal.province}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        {% if all_deals.has_other_pages %}
                        <ul class="pagination">
                            {% if all_deals.has_previous%}
                            <li class="page-item">
                                <a class="page-link" href="?page={{all_deals.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
                            </li>
                            {% endif%}

                            {% for i in all_deals.paginator.page_range %}
                                {% if all_deals.number == i %}
                                    <li class="page-item"><a class="page-link active" href="#">{{i}}</a></li>
                                {% else %}
                                     <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor%}
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                        {% endif%}
                    </nav>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search your desire car</h3>
                        <form action="{%url 'search'%}"  method="GET">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="dealtype">
                                     <option>Deal Type</option>
                                    {% for type in deal_types %}
                                    <option value="{{type}}" >{{type}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="city">
                                    <option>City</option>
                                    {% for city in cities %}
                                    <option value="{{city}}" >{{city}}</option>
                                    {% endfor%}
                                </select>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="province">
                                    <option>Province</option>
                                     {% for province in provinces %}
                                    <option value="{{province}}" >{{province}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                            </div>
                            <div class="range-slider clearfix">
                                <label>Price</label>
                                <div data-min="0" data-max="1550000"  data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group mb-0">
                                <button class="search-button btn">Search</button>
                            </div>
                        </form>
                    </div>

                    <!-- Question start -->
                    <div class="widget question widget-3">
                        <h5 class="sidebar-title">Follow us</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->
{% endblock%}


